/* image principal ./images/Minecraft1.png */
.Fond_contenaire img {
    position: fixed; 
    top: 0; 
    left: 0;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%; 
}

/*Position Relative */
.position_relative {
    position: relative;
}

body {
    margin: 0;
    top: 0;
    right: 0;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* Nav_Background-color */
#backgroud-nav {
    background-color: #1a202c;
    width: 100%;
    height: 3rem;
    top: 0;
    position: relative;
    padding-bottom: 10px;
    border-bottom: solid 2px #F6BF3D;
}

.nav-pouette {
    display: flex;
    justify-content: space-between;
}


/* Nav__JoueurConnected */
.connect {
   font-family: 'Arvo', serif;
   display: flex;
   flex-direction: row;
   padding-left: 3%;
   align-items: center;
}
.connect p {
    font-size: 1.3rem;
    border-bottom: solid #ffa600a9;
}
.color_orange {
    color: #ffa600;
}
.nombre-connect {
    padding-right: 0.5rem;
}
.connect i {
    padding-left: 0.5rem;
}

/* Nav__Connexion/Inscription */
.inscription {
    align-items: center; 
    padding-right: 3%;
}
.inscription ul{
    color: #ffa600;
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3%;
    align-items: center;
}
.inscription li {
    list-style: none;
    font-size: 1.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
.inscription a {
    color: white;
    text-decoration: none;
}
.inscription a:hover {
    box-shadow: rgb(187, 176, 25) 0px 20px 20px -5px, rgb(255, 146, 3) 0px 10px 10px -5px;
    border-bottom: solid 1px #ffa600;
    transition: all .2s;
}

/* Nav Bar */
.nav_contenaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav_contenaire img {
    width: 7rem;
    height: 7rem;
    padding-right: 1.2rem;
}
    .nav_contenaire ul {
        display: flex;
        flex-direction: row;
        border-radius: inherit;
        background: #1a202cd3;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: var(--btn-font-size, 1em);
        color: var(--color-contrast-medium);
        padding: var(--space-xs) var(--space-md);
        cursor: pointer;
        transition: color .2s;
    }
    .border_color__contenaire {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to top, #FF7D58, #FFCC4B ) 1; /* Color border */
        padding-left: 0px;
    }
        .nav_contenaire li {
            display: flex;
            justify-content: space-around;
            font-size: 1.5rem;
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            font-family: 'Arvo', serif;
        }
        .nav_contenaire a {
            color: white;
            text-decoration: none;
        }
        .nav_contenaire p {
            color: rgb(187, 176, 25);
            font-weight: bold;
        }
        .nav_contenaire a:hover {
            box-shadow: rgb(187, 176, 25) 0px 30px 30px -5px, rgb(255, 146, 3) 0px 20px 20px -5px;
            border-bottom: solid 1px #ffa600;
            transition: all .2s;
        }

/* Footer */
.background-footer {
    background: #1a202c;
    border-top: solid 2px #F6BF3D;
    width: 100%;
    height: 100%;

}
.footer {
    display: flex;
    margin-top: 1.3rem;
}
.footer img {
    width: 10rem;
    height: 10rem;
    border-right: solid 1px #F6BF3D;
    padding-right: 5rem;
    margin-top: 2rem;
    margin-left: 5rem;
}
.footer-contener {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
.footer-contener a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.856);
    font-size: 1.3rem;
    transition: transform 330ms ease-in-out;
}
.footer-contener a:hover {
    color: white;
    transform: translate(5px, 0);
}
.footer-contener h1 {
    color: #F6BF3D;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.footer-contener i {
    color: #F6BF3D;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    font-weight: bold;
}
.footer-logo p {
    text-align: center;
    color: #a0aec0;
    font-size: 1.3rem;
    margin-top: 0px;
    font-weight: bold;
    border-right: solid 1px #F6BF3D;
}
.footer-fin {
    background: #121824;
    width: 100%;
    height: 100%;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;
    margin-left: 13rem;
    margin-right: 13rem;
    font-size: 1.3rem;
}
.flexbox a {
    text-decoration: none; 
    color: white;
    transition: transform 330ms ease-in-out;
}
.flexbox a:hover {
    text-decoration: underline;
    color: #F6BF3D;
}
.flexbox p {
    margin-top: 0;
}
.flexbox span {
    color: #F6BF3D;
}

/* Trailer vidéo */
.video {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
